<html>
  <head>
    <title> Brian's Portfolio </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/style.css' type='text/css' />
  </head>
  <body>
    <div>
        <%- include("navBar.ejs", {selectedTab: "discordChatApp"}) %>
      
       <div class="row background">
          <div class="col text">
              <a className="link" 
              onclick="window.open(document.URL, '_blank');"
             href="https://bpc-vstda.herokuapp.com/">
                  Temporary link to nowhere
                </a>
            <img class="pics text" src="../pics/underConstruction.gif"/>
          </div>
          <div class="col text">
            <p class="p mt-4 mb-4">This page is currently under construction!</p>
          </div>
          <div class="w-100"></div>
          <div class="col text">
            <p class="p mt-4 mb-4"></p>
          </div>
          <div class="col text">
              <!-- <img class="pics text" src="../pics/topSpot2.png"/> -->
          </div>
          <div class="w-100"></div>
          <div class="col text">
              <!-- <img class="pics text" src="../pics/topSpot2.png"/> -->
          </div>
          <div class="col text">
            <p class="p mt-4 mb-4"></p>
          </div>
        </div>
      </div>
  </body>
</html>