<html>
  <head>
    <title> Brian's Portfolio </title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/style.css' type='text/css' />    

  </head>
  <body>
    <div>
        <%- include("navBar.ejs", {selectedTab: "index"}) %>
      </div>
      <div id='parallax'>
      <img class='pic-0' src='../pics/hotairballoon_0.png'/>
      <img class='pic-1' src='../pics/hotairballoon_1.png'/>
      <img class='pic-2' src='../pics/hotairballoon_2.png'/>
      <img class='pic-3' src='../pics/hotairballoon_3.png'/>
      <img class='pic-4' src='../pics/hotairballoon_4.png'/>
      <img class='pic-5'/>

    </div>
  
     <script >
     window.addEventListener('scroll', () => {
      let parent = document.getElementById('parallax');
      let children = parent.getElementsByTagName('img');
      for(let i = 0; i < children.length; i++) {
        children[i].style.transform = 'translateY(-' + (window.pageYOffset * i / children.length) + 'px)';
      }
   }, false) 
   </script>


      <div class="about_me" id="about_me">
        <div class="index-title">
          <h1>Brian's Portfolio</h1>
          <div class= "index-p">
            <h3 class="p-title">A little About My Self...</h3>
            <p>
                   I got into programming through my passion for video games and Lego robotics.
               In my early teens I started off building little creations with my Lego Mindstorms set.
               I would spend hours at a time building and programming my creations to follow a track and avoid various objects around my room.
               <p>
              </p>
                     From there, I got into creating small mods and maps for a few of the video games that I play. Of course I had no clue what I was doing at the time.
                I would tweak various files and completely break the code a thousand times before finding a line of code that actually worked.
                <p>
              </p>
                       For the last five years I was working in the pest control industry and not getting anything out of my job. So at the age of 29, I decided
                  to pursue a more meaningful career. I graduated from Origin Coding Academy in November 2018 and am eager 
                  to work in a field that I actually enjoy.
              </p>
             
              <p>
                  If you would like to know more please click on <a href="/pics/my_resume.pdf">My Resume</a>
                </p>
          </div>

        </div>
        <div class='skills'>
        
              <h1 class='skill_title'>My Skills</h1>
             
              <p class='skill_title'>JavaScript</p>
              <div class="container">
                <div class="skills js">90% proficient</div>
              </div>
              
              <p class='skill_title'>React</p>
              <div class="container">
                <div class="skills react">95% proficient</div>
              </div>

              <p class='skill_title'>React Redux</p>
              <div class="container">
                <div class="skills redux">95% proficient</div>
              </div>

              <p class='skill_title'>Express</p>
              <div class="container">
                <div class="skills express">80% proficient</div>
              </div>

              <p class='skill_title'>Node.js</p>
              <div class="container">
                <div class="skills node">75% proficient</div>
              </div>

              <p class='skill_title'>Loopback</p>
              <div class="container">
                <div class="skills loopback">70% proficient</div>
              </div>

              <p class='skill_title'>MongoDB</p>
              <div class="container">
                <div class="skills mongo">70% proficient</div>
              </div>

              <p class='skill_title'>mySQL</p>
              <div class="container">
                <div class="skills sql">70% proficient</div>
              </div>

              <p class='skill_title'>css/less/sass/html</p>
              <div class="container">
                <div class="skills style">85% proficient</div>
              </div>

              <p class='skill_title'>GIT</p>
              <div class="container">
                <div class="skills git">95% proficient</div>
              </div>

              <p class='skill_title'>Jira</p>
              <div class="container">
                <div class="skills jira">90% proficient</div>
              </div>

              <p class='skill_title'>JQuery</p>
              <div class="container">
                <div class="skills jquery">90% proficient</div>
              </div>
      </div>
  </body>
</html>