<html>
  <head>
    <title> Brian's Portfolio </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/style.css' type='text/css' />
  </head>
  <body>
    <div>
        <%- include("navBar.ejs", {selectedTab: "mortgage"}) %>
        <div class="row background">
          <div class="col text">
              <img class="pics text" src="../pics/mort1.png")/>
          </div>
          <div class="col text">
              <p class="p mt-5 mb-5">The picture to the left is my simple mortgage calculator. This app will acurately calculate how much your monthly mortgage payment will be 
              given the loan amount, interest rate, and term of the loan.</p>
          </div>
          <div class="w-100"></div>
          <div class="col text">
              <p class="p mt-5 mb-5">THe picture to the right shows your monthly payment and the first few lines of the amortization table. This table is very helpful for anyone 
              interested in knowing exacly how much money you are paying towards the interest and the pinciple along with showing the running balance of your 
              loan after each monthly payment.</p>
          </div>
          <div class="col text">
              <img class="pics text" src="../pics/mortgage.png")/>
          </div>
          <div class="w-100"></div>
          <div class="col text">
              <img class="pics text" src="../pics/mortTable.png")/>
          </div>
          <div class="col text">
              <p class="p mt-5 mb-5"> To build the amortization table I used the NPM package Amortize. The code to the left shows the html of my amortization table and how I use map() 
              to populate the table with each months data.</p>
          </div>
        </div>
    
      </div>
  </body>
</html>

  

  
 