<html>
  <head>
    <title> Brian's Portfolio </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='./css/style.css' type='text/css' />
  </head>
  <body>
    <div>
        <%- include("navBar.ejs", {selectedTab: "myResume"}) %>
  
      </div>
      <div class="background">
      <div class="index-p">
          
              <p style="margin-bottom: 0.14in; line-height: 115%"><font face="Times New Roman, serif"><font size="7" style="font-size: 36pt"><span lang="en">Resume	</span></font></font></p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">Brian
              Connors</span></font></font></p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">31011
              Jedediah Smith Rd</span></font></font></p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">Temecula,
              CA. 92592</span></font></font></p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">seahorse8789@gmail.com</span></font></font><br/>
              <br/>
              <br/>
              
              </p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><br/>
              <font face="Times New Roman, serif"><font size="5" style="font-size: 20pt"><span lang="en">Summary</span></font></font></p>
              <p style="margin-bottom: 0.14in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">I
              have worked in the retail and pest control industry for a combined 11
              years now. With those careers I have developed customer service and
              time management skills to complete projects on time. However, neither of these careers satisfied my passion for creating things, so I decided
               to go  back to school to learn computer programming.</span></font></font><br/>
              <br/>
              <font face="Times New Roman, serif"><font size="5" style="font-size: 20pt"><span lang="en">Education</span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en">Temecula
              Valley High School	2004-2008</span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>Diploma</i></span></font></font></p>
              <p lang="en" style="margin-bottom: 0in; font-style: normal; line-height: 100%">
              <br/>
              
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Origin
              Coding Academy 2018</span></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>certificate
              of completion</i></span></font></font></p>
              <p lang="en" style="margin-bottom: 0in; font-style: normal; line-height: 100%">
              <br/>
              
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="5" style="font-size: 20pt"><span lang="en"><span style="font-style: normal">Employment
              History</span></span></font></font></p>
              <p lang="en" style="margin-bottom: 0in; font-style: normal; line-height: 100%">
              <br/>
              
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Albertsons
              2007-2012</span></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>courtesy
              clerk/ cashier/ service deli tech/ </i></span></font></font>
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>night
              crew stocker/ produce clerk/ dairy clerk</i></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Over
              the course of my employment here I worked in various departments.
              Most of them involved stocking shelves efficiently while still
              greeting customers and providing excellent customer service in a
              timely, friendly manner.</span></span></font></font></p>
              <p lang="en" style="margin-bottom: 0in; line-height: 100%"><br/>
              
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Home
              Front Pest Control 2012-20014</span></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>pest
              control technician</i></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">With
              this job I mainly worked alone as I spent the entire day driving from
              home to home treating our customers with their various pest problems.
              This taught me the value of time management as I had a set list of
              services to complete each day without any management supervision.</span></span></font></font></p>
              <p lang="en" style="margin-bottom: 0in; line-height: 100%"><br/>
              
              </p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Bulls
              Eye Pest Control	2014-2018</span></span></font></font></p>
              <p style="margin-bottom: 0in; line-height: 100%"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><i>pest
              control technician</i></span></font></font><br/>
              <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><span lang="en"><span style="font-style: normal">Same
              overall job description and experience as Home Front</span></span></font></font></p>
            
              <p>Click <a href="/pics/my_resume.pdf">HERE </a>for the PDF version of my resume.</p>
      </div>
      </div>
      </div>
  </body>
</html>